<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_OrderImport
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_OrderImport::order_import"
             title="Import Orders"
             translate="title"
             module="Amasty_OrderImport"
             parent="Magento_Backend::system"
             dependsOnModule="Amasty_OrderImport"
             sortOrder="10"
             resource="Amasty_OrderImport::order_import"
        />
        <add id="Amasty_OrderImport::order_import_profiles"
             title="Profiles"
             translate="title"
             module="Amasty_OrderImport"
             parent="Amasty_OrderImport::order_import"
             dependsOnModule="Amasty_OrderImport"
             action="amorderimport/profile/index"
             sortOrder="15"
             resource="Amasty_OrderImport::order_import_profiles"
        />
        <add id="Amasty_OrderImport::order_import_history"
             title="History"
             translate="title"
             module="Amasty_OrderImport"
             parent="Amasty_OrderImport::order_import"
             dependsOnModule="Amasty_OrderImport"
             action="amorderimport/history/index"
             sortOrder="20"
             resource="Amasty_OrderImport::order_import_history"
        />
    </menu>
</config>
