# 2022-01-04 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/readme.md
!/app/code/**/*
!/app/design/frontend/leitner/**/*
!/app/etc/config.php
/update/
/dev
/vendor/codeception
/vendor/magento/framework/Test
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/tubalmartin
