# 2022-01-04 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/readme.md
!/app/code/**/*
!/app/design/frontend/leitner/**/*
!/app/etc/config.php
# 2022-01-14 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# 1) «Invalid template file: vendor/magento/module-theme/view/frontend/templates/page/js/require_js.phtml'»:
# https://github.com/ergomoebel/site/issues/1
# 2) "How to fix the «Invalid template file» / «require_js.phtml» failure of Magento ≥ 2.3 in Windows?":
# https://mage2.pro/t/5774
!/vendor/magento/framework/View/Element/Template/File/Validator.php
/update/
/dev
/vendor/codeception
/vendor/magento/framework/Test
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/tubalmartin
